
/**{
    border: 1px solid blue;
}*/



body{
    max-width: 1500;
    height:auto;
}


 /********* CONFIGURAÇÕES DO HEADER ****************/ 
header{
    max-width:1500px;
    height: 857px;
    background-image: url(img/img-header.jpg);
    background-repeat: no-repeat;
}

.cabecalho{
    display: flex;
}

nav{
    width: 836px;
    height: 136px;
    font-size: 13pt;
    line-height: 13px;
    letter-spacing: 1px;
    margin: 120px 0 0 10px;
}

.h1-header{
    width: 446px;
    height: 216px;
    font-size: 70px;
    font-family: "Playball", cursive;
    font-weight: 400;
    font-style: normal;
    color: #ffffff;
    line-height: auto;
    letter-spacing: 3px;
    margin-left: 500px;
    align-self: center;
  }

ul{
    list-style: none;
    display: flex;
}

a{
    text-decoration: none;
    list-style-type: none;
    color: #CA9A51;
}

li{margin: 0 40px 0 0;}

/******* CONFIFURAÇÕES DA SEÇÃO DO CARDÁPIO ***********/
#div-cardapio{
    margin-top: 5px;
    width: 1500;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(img/img-cardapio.jpg);
    text-align: center;
}

.h1-cardapio {
    font-size: 20pt;
    font-family: "Source Sans 3", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    letter-spacing: 2px;
    color: #ffffff;
}

.h2-cardapio{
    font-weight: 400;
    font-family: "Playball", cursive;
    color: #CA9A51;
}

.h1-carnes{
    font-family: "Playball", cursive;
    color: #CA9A51;
    font-size: 35px;
    font-weight: 400;
    position: relative; bottom: 30px;
}

.h2-cortes{
    margin-top: 10px;
    font-family: "Source Sans 3", sans-serif;
    font-weight: 500;
    font-size: 15pt;
    letter-spacing: 1px;
    color: #ffffff;
    position: relative; bottom: 50px;
}

table{
    display: flex;
    text-align: center;
    width: 600px;
    height: 200px;
    color: #CA9A51;
    font-weight: bold;
    font-style: italic;
    position: relative; bottom: 50px; left: 70px;
}

td{
    margin-left: 500px;
    padding: 28px;
}
/******* FIM DA SEÇÃO DO CARDÁPIO ***********/

/********SEÇÃO DE VALORES DO RODIZIO************/
.rodizio{
    background-image: url(/img/preço.jpg);
    text-align: center;
    font-weight: 400;
    Background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-family: "Playball", cursive;
    color: #ffffff;
    width: auto;
    height: 700px;
    position: relative; bottom: 40px;

}
.div1-valor{
   position: relative; top: 100px; left: 300px;
    font-size: 25pt;
    width: 700PX;
    height: auto;

}
 span{
    color: black;
    font-size: 45pt;
 }

/**************GALERIA DE FOTOS********************/
 #galeria{
    position: relative; bottom: 35px;
   color: #ffffff;
   font-family: "Source Sans 3", sans-serif;
   letter-spacing: 2px;
 }
 .div-fotos{
    width: auto;
    height: 120px;
    text-align: center;
    padding-top: 50px;
    background-color: #1C1C1A;
 }

 .galeria2{
    margin-left: 80px;
 }

 /**************ARTIGO SOBRE NÓS***********************/

 article{
    margin-top: 100px;
    width: 700px;
    height: 500px;
    text-align: center;
    margin-left: 300px;
 }

 .h1-sobre{
    font-size: 30pt;
    font-family: "Playball", cursive;
    color: #CA9A51;
}

.paragrafo-sobre{
    font-family: "Playball", cursive;
    font-size: 20pt;
}

/**********FINAL DA PÁGINA***************/
footer{
    background-image: url(/img/footer-medio.jpg);
    Background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    height: 800px;
    padding-top: 50px;
    position: relative; bottom: 100px;

}

.section-footer{
    display: flex;
    justify-content:center;
    margin-right: 120px;
}

.h1-footer{
    font-family: "Source Sans 3", sans-serif;
    color: #ffffff;
}

.h2-footer{
    font-family: "Playball", cursive;
    font-size:25pt;
    font-weight: 400;
    color: #CA9A51;
}

.span-footer{
    font-size:25pt ;
    font-family: "Source Sans 3", sans-serif;
    font-weight: 500;
    color: #ffffff;
}

.div-footer{
    margin-left: 150px;
}

.div-reserva{
    margin-top: 100px;
}